html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
}

.col-1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 60%;
}
.container_1{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 50px;
  padding-top: 20px;
  height: 100%;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50px;
  corner-radius: 0px;
  background-color: #D93A31;
  border: none;
}
.title{
  flex-wrap:wrap;
  width: 70%;
  font-size: 40px;
}
.subtitle{
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
}

.sub-subtitle{
  padding-top: 10vh;
  padding-bottom: 40px;
  
}

.btn-text{
  display: flex;
  text-align: center;
  color: #fff;
  font-weight: bold;
}
.col-2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container_2{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 20px;
}

.container_2_1{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

}

.info{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.info span{
  font-size: 50px;
}

.right{
  margin-left: 40px;
}

.footer{
  display: flex;
  justify-content: space-evenly;
  background-color: #2B2B35;
  height: 15vh;
  align-items: center;
}

.accessibility {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.type{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.accessibility div{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 10px;
}
.type div{
   display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 10px;
}